@font-face {
    font-family: "New York";
    src: url("./fonts/San Francisco/New York/NewYorkSmall-regular.otf");
}

@font-face {
    font-family: "New York Black";
    src: url("./fonts/San Francisco/New York/NewYorkSmall-Black.otf");
}


@font-face {
    font-family: "SF Pro";
    src: url("./fonts/San Francisco/SF Pro/SF-Pro-Display-Regular.otf");
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "SF Pro", sans-serif;
    background-image: url(./images/stars-background.jpg);
    background-size: 100%;
    color: aliceblue;
}

a {
    font-family: "SF Pro";
    text-align: center;
    text-decoration: none;
    display: inline-block;
    position: relative;
    color: #53bef3;

    font-weight: bold;
    text-shadow: 0.25rem 0.125rem 10px #0f3a4b;
}

a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 1%;
    left: 0;
    background-color: #53bef3;
    transition: transform 0.25s ease-out;
}

a:hover::after {
    transform: scaleX(1);
}

.header {
    padding: 1rem 2rem;
    border-bottom: 2pt solid rgba(255, 255, 255, 0.1);

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title {
    font-family: "New York Black", Times, serif;
    font-size: 10pt;
}

.planets-selection {
    font-family: "New York Black", Times, serif;
    font-size: 7pt;
    display: flex;
    gap: 1.5rem;
    align-items: center;
    justify-content: space-between;
}

.planets-selection h2 {
    cursor: pointer;
}

.hamburger {
    display: none;
}

.main {
    display: flex;
    gap: 2rem;
    width: 70%;
    margin: auto;
    padding-top: 5rem;
}

.image {
    border: 2pt solid rgba(255, 255, 255, 0.1);
    border-radius: 1rem;
    flex: 2;
    display: block;
    align-items: center;
    justify-content: center;
}

.image model-viewer {
    min-height: 100%;
    border-radius: 0.9rem;
    width: auto;
}

/* .image img {
    width: 30rem;
    height: 30rem;
} */

.content-container {
    flex: 1;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: column;
}

.content-header {
    font-family: "New York Black", Times, serif;
    align-self: flex-start;
    font-size: 30pt;
    margin: 1.5rem 0;
}

.content {
    word-wrap: break-word;
    font-size: 12pt;
}

.content-source {
    margin: 1rem 0;
    color: rgba(207, 207, 207, 0.5);
}

.content-source a {
    color: rgba(207, 207, 207, 0.5);
}

.structure-buttons {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem
}

.structure-buttons button {
    font-family: "SF Pro", sans-serif;
    border: 1pt solid rgba(255, 255, 255, 0.1);
    color: white;
    padding: 0.5rem 1.5rem;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 12pt;
    background-color: rgb(109, 46, 213, 0);
    cursor: pointer;

    transition: background-color 200ms ease-in-out, border 100ms ease-in-out;
}

.structure-buttons button:hover {
    border: 1pt solid rgb(255, 255, 255);
}

.structure-buttons button:focus {
    background-color: rgb(109, 46, 213, 1);
}

.structure-button-bullet {
    color: rgba(255, 255, 255, 0.5);
    padding: 0 0.5rem;
    font-size: 10pt;
}

.info-cards {
    margin: 2rem 15%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.info-card {
    /* width: 6rem; */
    height: 3rem;
    padding: 2rem 2rem;

    border: 1pt solid rgba(255, 255, 255, 0.1);

    font-family: "New York Black";
    font-size: 20pt;
}

.info-card-header {
    font-family: "SF Pro";
    color: rgba(255, 255, 255, 0.5);
    font-size: 10pt;
}

footer {
    display: flex;
    justify-content: center;
}

.footer {
    font-family: "New York Black";
    font-size: 24pt;
}

@media only screen and (max-width: 768px) {

    .header {
        flex-direction: column;
        gap: 2rem;
    }

    .planets-selection {
        gap: 0.5rem;
    }

    .main {
        flex-direction: column;
    }
}

@media only screen and (max-width: 425px) {
    .header {
        position: relative;
    }

    .planets-selection {
        padding: 1rem 0;
        display: block;

        position: absolute;

        background-color: #130032eb;
        z-index: 2;
        text-align: center;
        top: 100%;
        right: 0;
        left: 0;
    }

    .planets-selection h2 {
        height: 2rem;
    }

    .hamburger {
        display: block;
    }

    .ham-start {
        display: block;
    }

    .ham-opened,
    .ham-closed {
        display: none;
    }

    .main {
        flex-direction: column;
    }

    .image model-viewer {
        min-height: 15rem;
        width: 100%;
    }

    .info-cards {
        width: auto;
        height: auto;
        grid-template-columns: 1fr 1fr;
    }

    .info-card {
        padding: 0.6rem;
        font-size: 13pt;
    }
}